@model IEnumerable<BookYourFav.Models.Movie>
@using BookYourFav.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "AdminPage";
}
<h2>Hi @Session["Aname"].ToString()</h2>
<button class="btn" onclick="location.href='@Url.Action("AddNew", "Home", new { area = "Admin" }, null)'">Add</button>
<br /><br />@ViewBag.Amessage<br />
<table style="margin-left:20%;">
    @{
        int sno = 1;
    }
    <tr>
        <th>S.No</th>
        <th>Movie Name</th>
        <th>Theater Name</th>
        <th>Location</th>
        <th>Tickets Allocated</th>
        <th>Tickets Booked</th>
    </tr>
    <tr><td>&nbsp;</td></tr>

    @foreach (Movie movie in Model)
    {
        <tr>
            <td><text>[@sno]</text></td>
            <td>@movie.mname</td>
            <td>@movie.mtheaterName</td>
            <td>@movie.mlocation</td>
            <td>@movie.mticketAllocated</td> 
            <td>@Html.ActionLink(movie.mticketBooked.ToString(),"Book","Home",new { area = "Admin",movieId = movie.mid },null)</td>
            <td><button class="btn" onclick="location.href='@Url.Action("Edit", "Home", new { area = "Admin",movieId=movie.mid }, null)'">Edit</button></td>
            @using (Html.BeginForm("Delete", "Home", new { area = "Admin", movieId = movie.mid }, FormMethod.Post))
            {
                <td><input class="btn" type="submit" value="Remove" onclick="return confirm('Are you sure, You want to Delete the Respected Movie Details ?')" /></td>
            }     
        </tr>
        sno++;
    }

</table>
<br />
@using (Html.BeginForm("aLogout", "Home", new { area = ""}, FormMethod.Post))
            {
    <td><input class="btn" type="submit" value="Logout" onclick="return confirm('Are you sure, You want to Quit ?')" /></td>
}
     

